@media screen and (max-width: 574px){
    html {
        font-size: 16px;
    }

    /* Navgation Layout */
    nav {
        padding: 1.5rem;
    }
    
    /* Main Style */
    /* Section 1 layout */
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    
        min-height: calc(250px + 285px + 1rem);
        margin-bottom: 5rem;
        gap: 1rem;
        padding: 1.25rem 0.3rem;
    }

    .sec1-word {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        min-height: 250px;
    }

    .sec1-word button {
        padding: 1rem 0.625rem;
        border: none;
        font-size: 1.125rem;
        font-weight: 700;
        margin: 0;
    }
    
    .sec1-word h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5em;
        margin: 0;
    }
    
    .sec1-img {
        left: 50%;
        right: 50%;
        top: calc(250px + 2rem);
        transform: translateX(-50%);
        width: fit-content;
        height: max-content;
    }

    /* Section 2 Layout */
    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        padding: 1.5rem;
        background-color: white;
    }
    
    .sec2-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sec2-group img {
        max-width: 200px;
    }
    
    .section-2 h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .section-2 p {
        font-size: 1em;
        color: #1A2630;
        line-height: 170%;
        text-align: center;
    }
    
    /* Section 3 layout */
    .section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.25rem;
        padding: 2rem 0;
        min-height: fit-content;
    }

    .section-3 h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .section-3 button {
        padding: 1rem 0.625rem;
        border: none;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .section-3 .grid-container {
        gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
    }

    .section-3 .grid-container .grid-item img {
        max-width: 125px;
    }
   
    /* Testimony section style */
    .section-4 h2,
    .section-4 h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 5rem 0 0 0;
    }

    .sliders {
        display: none;
    }

    .slider-contents {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .sec4-container {
        padding: 0.625rem;
        width: 100%;
    }
    
    .sec4-container img {
        max-width: 200px;
    }

    .sec4-container p {
        font-size: 1.125rem;
        line-height: 170%;
        margin-top: 1rem;
    }
    
    /* Section 5 style */
    .section-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 1.25rem;
        margin-top: 3.125rem;
        margin-bottom: 5rem;
        position: relative;
        min-height: calc(413px + 308px);
    }
    
    .section-5 ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.25rem;
    }

    .section-5 ul li {
        margin: 0;
    }
       
    .section-5 ul .with-img {
        font-size: 1.125rem;
        font-style: normal;
    }
    
    .section-5 ul .without-img {
        margin-top: .5rem;
        margin-left: 1rem;
    }
    
    #contactus {
        width: 90%;
        padding: 0.625rem;
        gap: 1rem;
        margin-top: 1rem;
        position: absolute;
        bottom: -2rem;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        box-shadow: 5px 5px 20px -11px #000000;
        height: fit-content;
    }

    #contactus button {
        padding: 1rem 0.625rem;
        border: none;
        font-size: 1.125rem;
        font-weight: 700;
    }
    
    /* Section 6 style */
    .section-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        margin: 5rem 0;
        padding: 1rem;
    }

    .section-6 h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5em;
        margin: 0;
    }
    
    .section-6 .img-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        min-width: 600px;
    }
    
    .section-6 button {
        padding: 1rem 0.625rem;
        border: none;
        font-size: 1.125rem;
        font-weight: 700;
    }
    
    /* Footer style */
    .footer-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.75rem;
    }
    
    .footer-1 {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        order: 1;
    }

    .footer-1 ul {
        padding: 0;
    }
   
    .footer-2 {
        order: 3;
    }

    .footer-3 {
        order: 4;
    }

    .footer-4 {
        order: 2;
    }
        
    .footer-2 h5,
    .footer-3 h5 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }   
   
    #contact-form h5 {
        font-size: 1.25rem;
    }
    
    #contact-form p {
        font-size: 0.813rem;
    }
    
    #contact-form button {
        padding: 1rem 0.625rem;
        border: none;
        font-size: 1.125rem;
        font-weight: 700;
    }
    
    #contact-form input {
        width: 100%;
        min-height: 48px;
        padding: 0.3rem;
        border: 1px solid #7B7C82;
        border-radius: 8px;
        background-color: inherit;
        color: white;
    }
}
    