@media screen and (max-width: 767px) {
  /*.underline {
    border-bottom: solid 2px blue;
    padding-bottom: 3px;
  }*/

  section {
    padding: 0;
  }

  section:nth-child(even) {
    background-color: white;
  }

  nav {
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  /* Section1 */
  .section-1 {
    min-height: 334px;
    background-color: #e9f4ff;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .section-1 h2 {
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 3.5vw;
    line-height: 3.5rem;
    font-weight: bold;
  }

  .sec1-img {
    position: absolute;
    right: 10vw;
    top: 7vh;
    width: 35%;
    height: auto;
  }

  .sec1-word button {
    margin-left: 2rem;
  }

  /* Section2 */
  .section-2 {
    min-height: 1070px;
    margin: 40vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .sec2-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .section-2 p {
    line-height: 3rem;
  }

  .sec2-group p {
    text-align: left;
  }

  /* Section3 Style */
  .section-3 {
    min-height: 1002px;
    background-color: #e9f4ff;
    display: grid;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: auto;
  }

  .grid-item:nth-child(n + 5) {
    display: none;
  }

  .button-container {
  }

  /* Section4 Style */
  .section-4 {
    min-height: 1102px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .sec4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
  }

  .sec4-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec4-container div p {
    text-align: center;
  }

  /* Section5 Style */
  .section-5 {
    min-height: 798px;
    background-color: #e9f4ff;
    position: relative;
  }

  .section-5 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 5rem;
    gap: 2rem;
    width: 100vw;
    margin: 0 3rem;
  }
  .section-5 ul li {
  }
  #contactus {
    width: 75vw;
    position: absolute;
    left: 13vw;
  }

  /* Section6 Style */
  .section-6 {
    min-height: 808px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .img-container {
    display: flex;
    justify-content: space-evenly;
  }
  .img-container img {
    width: 43%;
    height: auto;
  }

  .img-container :nth-child(3) {
    display: none;
  }

  /* Footer Style */
  footer {
    min-height: 605px;
    position: relative;
  }

  .footer-container {
    display: grid;
    grid-template-areas:
      "footer-1 footer-1 footer-2 footer-2 footer-2 footer-2"
      "footer-3 footer-3 footer-3 footer-4 footer-4 footer-4";
    padding: 2rem;
    gap: 2rem;
  }
  .footer-1 {
    grid-area: footer-1;
  }
  .footer-2 {
    grid-area: footer-3;
  }
  .footer-3 {
    grid-area: footer-4;
  }
  .footer-4 {
    grid-area: footer-2;
  }
}
