/* Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  /*min-width: 768px;
  max-width: 991px;*/
}

html {
  font-size: 16px;
  font-family: "Montserrat", "Open Sans", "sans-serif";
}

.underline {
  border-bottom: solid 2px blue;
  padding-bottom: 3px;
}

header {
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75%;
}

.header-img1 {
  width: 10%;
  height: auto;
}
.header-img2 {
  width: 6%;
  height: auto;
}

/* Section1 */
.section1 {
  min-height: 334px;
  background-color: #e9f4ff;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15%;
}

.textbox1 {
  margin-top: 7%;
  margin-left: 5%;
}

.textbox1 > p {
  font-size: 2rem;
  font-weight: bold;
}

.img1-1 {
  position: absolute;
  right: 35vw;
  top: 5vh;
}

.img1-2 {
  position: absolute;
  right: 10vw;
  bottom: -3vh;
}

.clickbotton1 {
  border: solid 1px blue;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 5%;
}

/* Section2 */
.section2 {
  min-height: 1070px;
  margin: 40vh 5vw;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

h1 {
  font-size: 2rem;
}

.text2-1 {
  font-size: 1.25rem;
  text-align: center;
  line-height: 3rem;
}

.text2-2 {
  line-height: 2rem;
}

/* Section3 Style */
.section3 {
  min-height: 1002px;
  background-color: #e9f4ff;
  display: grid;
  place-items: center;
}

.gridcontainer3 {
  display: grid;
  grid-template-areas:
    "section3-title section3-title"
    "logo-design development"
    "ui-ux-design digital-marketing"
    "button3 button3";
  column-gap: 5vw;
  row-gap: 10vh;
  justify-items: center;
  align-items: center;
}

#section3-title {
  grid-area: section3-title;
  font-size: 2rem;
  font-weight: bold;
  justify-self: center;
}

.white-text {
  display: inline;
  font-weight: bold;
  font-size: 1.25rem;
}
.background-img {
  align-items: center;
}
#logo-design-field {
  grid-area: logo-design;
  color: white;
  position: relative;
}

#logo-design-item {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

#logo-design-item a {
  display: block;
}

#development-field {
  grid-area: development;
  color: white;
  position: relative;
}
#development-item {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

#development-item a {
  display: block;
}
#ui-ux-design-field {
  grid-area: ui-ux-design;
  color: white;
  position: relative;
}
#ui-ux-design-item {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

#ui-ux-design-item a {
  display: block;
}
#digital-marketing-field {
  grid-area: digital-marketing;
  color: white;
  position: relative;
}

#digital-marketing-item {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

#digital-marketing-item a {
  display: block;
}
#button3 {
  grid-area: button3;
  border: solid 1px blue;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  justify-self: center;
}

/* Section4 Style */
.section4 {
  min-height: 1102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containeritem4-1 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.containeritem4-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f6fe;
  border-radius: 10px;
  width: 60vw;
  padding: 2rem 1rem;
  margin-top: 10vh;
  gap: 7vh;
  position: relative;
}
.containeritem4-2 p {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.25rem;
}

.containeritem4-3 {
  display: flex;
  justify-content: center;
  color: #f4f6fe;
  margin-top: 3vh;
}

.dot {
  color: black;
}
.containeritem4-4 {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: -20%;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: -20%;
}

/* Section5 Style */
.section5 {
  min-height: 798px;
  background-color: #e9f4ff;
  position: relative;
}

.gridcontainer5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 5%;
}
.first-text {
  font-size: 1.25rem;
  align-self: center;
}

.gridcontainer5-1,
.gridcontainer5-2,
.gridcontainer5-3 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

#contact-form {
  display: grid;
  grid-template-areas:
    "name"
    "email"
    "company"
    "phone"
    "submit";
  background-color: white;
  box-shadow: 0.5rem 0.5rem 0.75rem -0.5rem;
  border-radius: 15px;
  width: 70vw;
  row-gap: 2rem;
  padding: 4rem;
  position: absolute;
  bottom: -5%;
  left: 15%;
}
#name-field {
  grid-area: name;
}
#name-input,
#email-input,
#company-input,
#phone-input {
  display: block;
  border-radius: 5px;
  width: 100%;
  border: solid 1px #e2e7ed;
  padding: 1rem;
}

#email-field {
  grid-area: email;
}

#company-name-field {
  grid-area: company;
}
#phone-field {
  grid-area: phone;
}

#submit {
  grid-area: submit;
  border: solid 1px blue;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 0.75rem 2rem;
  justify-self: flex-start;
  display: block;
}

/* Section6 Style */
.section6 {
  min-height: 808px;
}

.img6 {
  width: 40vw;
}

.flex-container6 {
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

.section6-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 15vh;
}

.flex-container6-2 {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.flex-container6-2-1,
.flex-container6-2-2 {
  background-color: #e9f4ff;
  border-radius: 15px;
  width: 40vw;
  padding-bottom: 5%;
}

.flex-container6-2-1 > p,
.flex-container6-2-2 > p {
  line-height: 2rem;
  font-size: 1.25rem;
  padding: 2rem;
}

.flex-container6-2-1 a,
.flex-container6-2-2 a {
  padding: 2rem;
}

.button6 {
  border: solid 1px blue;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 0.75rem 2rem;
  align-self: center;
}

/* Footer Style */
footer {
  background-color: black;
  color: white;
  min-height: 605px;
}

.footer-grid1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 5%;
}

.footer-griditem1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40%;
}

.footer-griditems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6%;
}
.company-logo {
  width: 20%;
}

.footer-griditem2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7%;
}
.footer-bold {
  font-weight: bold;
  font-size: 1.25rem;
}
#email2-input {
  display: block;
  background-color: black;
  border-radius: 5px;
  width: 100%;
  border: solid 1px white;
  padding: 1rem;
}
.button-footer {
  border: solid 1px blue;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 0.75rem 2rem;
  align-self: flex-start;
}

.footer-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
}

.footer-griditem3 ul li {
  padding-top: 5%;
}

.footer-griditem3 p {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-griditem4 ul li {
  padding-top: 5%;
}

.footer-griditem4 p {
  font-weight: bold;
  font-size: 1.25rem;
}
footer > p {
  text-align: center;
  margin-top: 5%;
}
